.chat-room {
  height: 100vh;
  overflow-y: hidden;
}

.chat-box {
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 1000px;
  input[type="text"] {
    height: 45px;
    font-size: 18px;
    padding: 8px;
  }
}

.chat-box.btn {
  height: 45px;
}

.content {
  background-color: #eeeeee;
  padding: 8px 16px;
  border-radius: 20px;
}

.message {
  display: inline-block;
  min-height: 59px;
}

.author {
  font-size: 0.8rem;
  color: grey;
  margin-left: 10px;
}
